@model Repository.Models.Place

@{
    ViewBag.Title = "Szczegóły miejsca nr: " + Model.Id;
    ViewBag.Opis = "Szczegóły miejsca nr: " + Model.Id + "Opis dla Google";
    ViewBag.SlowaKluczowe = "Lista miejsca, słowa kluczowe, keywords";
}

<h2>Szczegóły</h2>

<div>
    <h4>Miejsce</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @: |
    }

    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-warning" })
</p>
