@Styles.Render("~/Content/exampleCVstyleCSS")

    <div id="box">
        <h1>CURRICULUM VITAE</h1>
        <table id="baseData">
            <tr>
                <td style="font-weight: bold; width: 130px;">Imię i nazwisko:</td>
                <td>Rafał Chodzidło</td>
                <td style="width: 100px;" rowspan="7"><img width="200" src="https://scontent-waw1-1.xx.fbcdn.net/t31.0-8/11100687_1055363447827029_3953747645860318221_o.jpg" style="border: 1px solid #3d3d3d;" /></td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Data urodzenia:</td>
                <td>17-03-1992</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Obywatelstwo:</td>
                <td>Polska</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Adres:</td>
                <td>
                    <ul>
                        <li>Wieczorka  3</li>
                        <li>43-245 Studzionka</li>
                        <li>Polska</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Tel. stacjonarny:</td>
                <td></td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Tel. komórkowy:</td>
                <td>530829985</td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Adres e-mail:</td>
                <td>rafal.chodzidlo92@gmail.com</td>
            </tr>
        </table>
        <h2>Wykształcenie</h2>
        <table id="educationData">
            <tr>
                <td style="width: 120px; text-align: center;">
                    2011 - 2016
                </td>
                <td style="width: 480px; text-align: left; font-weight: bold;">Politechnika Śląska</td>
                <td style="width: 100px; text-align: center;">Gliwice</td>
            </tr>
        </table>
        <h2>Doświadczenie zawodowe</h2>
        <table id="educationData">
            <tr>
                <td style="width: 120px; text-align: center;">
                    2015 - 2016
                </td>
                <td style="width: 480px; text-align: left;">
                    <ul>
                        <li style="font-size: 110%;">AIUT</li>
                        <li><strong>Stanowisko:</strong> Junior .NET (C#/WPF) developer</li>
                        <li><strong>Zakres obowiązków:</strong> Rozwój aplikacji wspomagającej zarządzanie produkcją.</li>
                    </ul>
                </td>
                <td style="width: 100px; text-align: center;">Gliwice</td>
            </tr>
            <tr>
                <td style="width: 120px; text-align: center;">
                    2014 - 2015
                </td>
                <td style="width: 480px; text-align: left;">
                    <ul>
                        <li style="font-size: 110%;">CTI - CENTRUM TECHNOLOGII INFORMATYCZNEJ</li>
                        <li><strong>Stanowisko:</strong> Młodszy programista .NET, C#, WPF, MSSQL</li>
                        <li>
                            <strong>Zakres obowiązków:</strong> - tworzenie programów współpracujących z Comarch Optima<br />
                            - tworzenie oprogramowania na potrzeby klientów firmy z <br />
                            wykorzystaniem technologii .NET (C# i WPF); <br />
                        </li>
                    </ul>
                </td>
                <td style="width: 100px; text-align: center;">Gliwice</td>
            </tr>
        </table>
        <h2>Osiągnięcia</h2>
        <table id="educationData"></table>
        <h2>Szkolenia</h2>
        <table id="educationData"></table>
        <h2>Umiejętności</h2>
        <table id="educationData">
            <tr>
                <td style="width: 120px; text-align: center; font-weight: bold;">Programowanie:</td>
                <td style="width: 580px; text-align: left;">C#, WPF C, PHP, HTML, CSS</td>
            </tr>
            <tr>
                <td style="width: 120px; text-align: center; font-weight: bold;">Bazy danych:</td>
                <td style="width: 580px; text-align: left;">MS SQL, MySQL</td>
            </tr>
            <tr>
                <td style="width: 120px; text-align: center; font-weight: bold;">frameworki i wzorce:</td>
                <td style="width: 580px; text-align: left;">NHibernate, MVVM Light Toolkit, Autofac, Nlogger,  MVVM, dependency injection</td>
            </tr>
            <tr>
                <td style="width: 120px; text-align: center; font-weight: bold;">kontrola wersji:</td>
                <td style="width: 580px; text-align: left;">GIT, SVN</td>
            </tr>
            <tr>
                <td style="width: 120px; text-align: center; font-weight: bold;">Pozostałe:</td>
                <td style="width: 580px; text-align: left;"></td>
            </tr>
        </table>
        <h2>Języki</h2>
        <table id="educationData">
            <tr>
                <td style="width: 120px; text-align: center; font-weight: bold;">angielski:</td>
                <td style="width: 580px; text-align: left;">średniozaawansowany</td>
            </tr>
        </table>
        <h2>Hobby</h2>
        <p>
        </p>
        <p style="font-style: italic; font-size: 80%; text-align: justify;">
            Wyrażam zgodę na przetwarzanie moich danych osobowych w celach rekrutacji, zgodnie z Ustawą z dn. 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. z 2002 r. Nr 101, poz. 926 z późniejszymi zmianami).
        </p>
    </div>
