@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Rafał Chodzidło<br />
    ul. Wieczorka 3<br />
    43 - 245 Studzionka<br />
    <abbr title="Phone">P:</abbr>
    530529985
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:rafal.chodzidlo92@gmail.com">rafal.chodzidlo92@gmail.com</a>
</address>