@{
    ViewBag.Title = "CV hosting - aplikacja rekrutacyjna - metaTitle - do 60 znaków";
    ViewBag.Opis = "CV hosting - aplikacja rekrutacyjna";
    ViewBag.SlowaKluczowe = "CV hosting - aplikacja rekrutacyjna, słowa kluczowe, keywords";
}

<div class="jumbotron">
    <h1>CV HOSTING </h1>
    <p class="lead">Aplikacja rekrutacyjna</p>
    <p><img src="http://www.headchannel.pl/media/1001/headchannel-logo.png" /></p>
    <p>Część funkcji dostępna tylko dla zalogowanych uytkowników</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dodaj CV</h2>
        <p>
            Aplikuj na odpowiednie stanowisko. 
        </p>
        <p>@Html.ActionLink("Dodaj CV", "Create", "CVApplications", new { @class = "btn btn-default" })</p>
    </div>

@if (User.Identity.IsAuthenticated)
{
    <div class="col-md-4">
        <h2>Przejrzyj aplikacje</h2>
        <p>Lista złożonych CV</p>
        <p>@Html.ActionLink("Lista CV", "Index", "CVApplications", new { @class = "btn btn-default" })</p>
    </div>
}
</div>